:root {
  --main-background: hsl(209, 53%, 16%);
  --text-color: hsl(0, 0%, 100%);
  --underline-color: hsl(259, 72%, 69%);
  --card-background: hsl(211, 56%, 20%);
  --hover-color: hsl(259, 64%, 44%);

  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-bold: 700;
  --font-regular: 400;

  --animate-delay: 0.5s;
}
